body {
    background-color:#b2d3b3;
}

#title {
    background: none repeat scroll 0 0 #98d772;
    margin: 1% 10% 1% 10%;
    box-shadow: 5px 5px 5px grey;
    padding: 1% 10% 1% 10%;
    color: #FFFFFF;
}

#wrapper {
    margin: 3% 10% 1% 10%;
    padding: 1% 10% 1% 10%;
}

#col1 {
    display:inline-block;
    /*float:left;*/
    width: 33%;
    margin: 0% 0% 1% 0%;
}

#col2 {
    display:inline-block;
    /*float: left;*/
    width: 33%;
    margin: 0% 0% 1% 0%;
    text-align:center;
}

#col3 {
    display:inline-block;
    /*float: left;*/
    width: 33%;
    margin: 0% 0% 1% 0%;
}

h3 {
    font-family: monospace;
    font-size: 200%;
    color: #FCCE1C;
    text-decoration: underline;
}

h2 {
    font-variant: small-caps;
    text-align: center;
    color:#FCCE1C;
    font-size: 300%;
    text-shadow: 1px 2px 2px #AAAAAA;
}

h1 {
    text-align: center;
    color:#FFFFFF;
    font-size: 500%;
}

h4 {
   text-align: center; 
}