@font-face {
    font-family: 'snellregular';
    src: url('snellbt-regular-webfont.woff2') format('woff2'),
         url('snellbt-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
    background-color:#b2d3b3;
    font-family: 'snellregular';
}

#title {
    background: none repeat scroll 0 0 #98d772;
    margin: 1% 10% 1% 10%;
    box-shadow: 5px 5px 5px grey;
    padding: 1% 10% 1% 10%;
    color: #FFFFFF;
}

#programme {
    background: none repeat scroll 0 0 #98d772;
    margin: 1% 10% 1% 10%;
    box-shadow: 5px 5px 5px grey;
    padding: 1% 10% 1% 10%;
    color: #FFFFFF;
}

#liens {
    background: none repeat scroll 0 0 #98d772;
    margin: 1% 10% 1% 10%;
    box-shadow: 5px 5px 5px grey;
    padding: 1% 10% 1% 10%;
    color: #FFFFFF;
}

#wrapper {
    margin: 3% 10% 1% 10%;
    padding: 1% 10% 1% 10%;
}

#apropos {
    margin: 3% 10% 1% 10%;
    padding: 1% 10% 1% 10%;
}

#orga {
    margin: 3% 10% 1% 10%;
    padding: 1% 10% 1% 10%;
}

#contact {
    margin: 3% 10% 1% 10%;
    padding: 1% 10% 1% 10%;
}

#col1 {
    display:inline-block;
    /*float:left;*/
    width: 33%;
    margin: 0% 0% 1% 0%;
}

#col2 {
    display:inline-block;
    /*float: left;*/
    width: 33%;
    margin: 0% 0% 1% 0%;
    text-align:center;
}

#col3 {
    display:inline-block;
    /*float: left;*/
    width: 33%;
    margin: 0% 0% 1% 0%;
}

h3 {
    font-size: 200%;
    color: #FCCE1C;
    text-decoration: underline;
}

h2 {
    font-variant: small-caps;
    text-align: center;
    color:#FCCE1C;
    font-size: 300%;
    text-shadow: 1px 2px 2px #AAAAAA;
}

h1 {
    text-align: center;
    color:#FFFFFF;
    font-size: 500%;
}

h4 {
   text-align: center; 
}

nav ul {
    list-style-type: none;
}

nav li {
    float: left;
    text-align: center;
    width: 20%;
}

nav ul::after{
    content: "";
    display: table;
    clear:both;
}

nav {
    width:100%;
    margin: 0 auto;
    position: sticky;
    top: 0px;
}

nav a{
    display:block;
    text-decoration:none;
    color: white;
    border-bottom: 2px solid transparent;
    padding: 10px 0px;
}

nav a:hover{
    color: orange;
    border-bottom: 2px solid gold;
}